<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.personalscraper.pipeline</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/izno/.pyenv/versions/3.11.9/bin/python</string>
        <string>-m</string>
        <string>personalscraper</string>
        <string>run</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/izno/.personalscraper/launchd-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/izno/.personalscraper/launchd-stderr.log</string>
    <key>WorkingDirectory</key>
    <string>/Volumes/IznoServer SSD/A TRIER</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/izno/.pyenv/versions/3.11.9/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>PYTHONPATH</key>
        <string>/Volumes/IznoServer SSD/A TRIER</string>
    </dict>
</dict>
</plist>
